# === Node ===
node_modules/
backend/node_modules/
frontend/node_modules/

# === Build artifacts ===
build/
frontend/build/
frontend/dist/

# === Environment files ===
.env
.env.local
.env.*.local
backend/.env
frontend/.env

# === Prisma ===
prisma/dev.db
/src/generated/prisma

# === Misc ===
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === PnP (Yarn Plug'n'Play) ===
.pnp
.pnp.js
