.NavBar
{
    display: flex;
    width: 100vw;
    align-items: center;
    padding-bottom: 20px;
    margin: 50px 0px;
    border-bottom: 1px solid #e1e4e8;
}

.navbar-container
{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 25px;
}

.navbar-btn
{
    padding: 12px 24px;
    background-color: #61dafb;
    color: #4d5057;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar-btn:hover
{
    background-color: #4fa8d1;
    color: #fff;
}

.navbar-btn.active
{
    background-color: #4fa8d1;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        gap: 5px;
    }
  }
