.searchBar {
  margin: 20px 0;
  width: 100%;
}
.search-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.search-form {
  display: flex;
  /* max-width: 600px; */
  width:100%;
  margin: 0 auto;
}

.search-input {
  flex: 1;
  padding: 12px 20px;
  font-size: 1rem;
  border: 2px solid #e1e4e8;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
}

.search-input:focus {
  border-color: #61dafb;
  box-shadow: 0 0 0 3px rgba(97, 218, 251, 0.2);
}

.search-button {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #666;
  /* color: #000; */
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  color: #61dafb;
}

.clear-button {
  padding: 12px 24px;
  /* font-weight: 400; */
  background-color: #61dafb;
  color: #4d5057;
  border: none;
  border-radius: 0px 40px 40px 0px;
  font-size: 1rem;
  cursor: pointer;
  /* transition: background-color 0.3s; */
  transition: all 0.3s ease-in-out;
  position: relative;
  
}

@media (max-width: 768px) {
  .search-input {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
